md-toolbar h1 {
    font-size: 1.20em;
    font-weight: 400;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

.md-padding2 {
    padding: 16px;
}

.docs-menu-icon {
    background: none;
    border: none;
    margin-right: 16px;
    padding: 0;
}

.docs-menu-separator-icon {
    margin: 0;
    padding: 0 10px;
}

.docs-menu-separator-icon img {
    height: 16px;
}

.md-breadcrumb-page {
    display: inline-block;
    word-wrap: break-word;
}

.layout-content,
.doc-content {
    max-width: 864px;
    width: 70%;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
}

.view-container {
    border-radius: 4px;
    margin-bottom: 16px;
    -webkit-transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
    transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
    position: relative;
    padding-bottom: 0;
}

.toolbar-icon {
    height: 36px;
    position: absolute;
    left: 0px;
    top: -1px;
    margin-top: 0;
}

.toolbar-btn {
    position: relative;
    padding-left: 2px;
    margin-right: 8px;

}

.full-width {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
