<md-dialog aria-label="Poll">
    <md-content class="md-default-theme" role="document" tabindex="0">
        <h2 class="md-title ng-binding">Edycja ankiety: <span ng-bind="dialog.poll.poll_id"></span></h2>
        <div class="dialog-content">
            <form name="pollForm">
                <md-input-container>
                    <input required name="title" ng-model="dialog.poll.title">
                    <div ng-messages="pollForm.title.$error">
                    </div>
                </md-input-container>
            </form>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">Anuluj</md-button>
        <md-button ng-click="update(dialog.poll)" class="md-primary">Gotowe</md-button>
    </div>
</md-dialog>